<div class="modal-header">
    <h3 class="modal-title">{{questionary.name}}</h3>
</div>
<div class="modal-body">
    <form name="form">
        <div class="form-group has-error has-feedback" ng-repeat="question in questionary.questions" >
            <label for="{{question.id}}">{{question.question}}</label>
            <input id="{{question.id}}" name="{{question.id}}"
                   aria-describedby="inputAnswer_{{question.id}} frameAnswer_{{question.id}}"
                   ng-model="question.answer" type="text" class="form-control"
                   placeholder="Answer shortly here..." required="" />
            <span ng-show="form.{{question.id}}.$touched && form.{{question.id}}.$invalid"
                  id="inputAnswer_{{question.id}}" class="glyphicon glyphicon-remove form-control-feedback"
                  aria-hidden="true"></span>
            <span ng-show="form.{{question.id}}.$touched && form.{{question.id}}.$invalid"
                  class="help-block">Be neat and patient answer all questions!</span>
            <span id="frameAnswer_{{question.id}}" class="sr-only">(error)</span>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="submit" ng-click="submitQuestionary()" ng-disabled="form.$invalid">Save changes</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Close</button>
</div>